[Desktop Entry]
Name=Tomato
Comment=Minimalist, data-oriented pomodoro timer
Exec=tomato
Icon=org.nsh07.pomodoro
Terminal=false
Type=Application
Categories=Utility;Clock;
Keywords=pomodoro;timer;focus;productivity;
StartupWMClass=org-nsh07-pomodoro-MainKt
